[Unit]
Description=Restart Containers
After=network.target balena.service

[Service]
ExecStartPre=docker-compose -f /root/docker-compose.yml down
ExecStart=docker-compose -f /root/docker-compose.yml up -d
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
